<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%-3p] [%t] %c{1}: %m%n" />
		</Console>
		<RollingRandomAccessFile name="logfile" fileName="../logs/weipan/pafa.log" filePattern="../logs/weipan/pafa.log.%d{yyyy-MM-dd}" immediateFlush="false" bufferSize="8192">
			<PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%-3p] [%t] %c{1}: %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingRandomAccessFile>


		<Async name="Async">
			<AppenderRef ref="CONSOLE" />
			<AppenderRef ref="logfile" />
		</Async>
	</Appenders>

	<Loggers>
		<Logger name="com.ibatis" level="debug" />
		<Logger name="java.sql.Connection" level="debug" />
		<Logger name="java.sql.Statement" level="debug" />
		<Logger name="java.sql.PreparedStatement" level="debug" />
		<Logger name="org.apache" level="info" />
		<Logger name="com.paic.pafa" level="debug" />
		<Logger name="org.springframework" level="info" />
		<Logger name="monitor" level="info" additivity="false">
			<appender-ref ref="method-monitor" />
		</Logger>
		<Root level="info" includeLocation="true">
			<AppenderRef ref="Async" />
		</Root>
	</Loggers>
</Configuration>




